/* * Define vars for the root element */
:root {
    --gold-hex: #E9B13E;
    --violet-hex: #351246;
}

/* * CSS Reset and Universal Styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
}

a:hover,
a:focus {
    color: var(--violet-hex);
}

img {
    max-width: 100%;
}

.mbl-margins {
    margin: 3rem 1rem;
}

.mbl-paddings {
    padding: 3rem 1rem;
}

.btn-margins {
    margin: 3rem 0;
}


/* * One-off Stylings */
.btm-cta__btn {
    display: flex;
    justify-content: center;
}

/* * Hidden Items in Mobile Viewport */
.tab-desk__nav {
    display: none;
}

.contact__header {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color: #707070;
    display: none;
}


/* * Main Header*/
.hero__area {
    background: var(--gold-hex) url(images/hero_images/main_hero1_sm.jpg) center/cover no-repeat;
    height: 100vh;
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem 0;
}

.logo-text__wrapper  {
    width: 12rem;
    transition: opacity 1s ease-in;
    margin-left: 1rem;
}

.logo-text__wrapper a:hover,
.logo-text__wrapper a:focus {
    opacity: 0.6;
}


/* * Navigation and Hamburger Styling */
.mbl__nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.mbl__nav .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    opacity: 0;
}

.mbl__nav .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: rgba(240, 195, 81, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * Middle Hamburger Line */
.mbl__nav .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

/* * Top and Bottom Hamburger Lines */
.mbl__nav .hamburger > div:before,
.mbl__nav .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -0.6rem;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

/* * Bottom Hamburger Line */
.mbl__nav .hamburger > div:after {
    top: .6rem;
}

/* * Toggler Animation */
.mbl__nav .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* * Turn lines in X */
.mbl__nav .toggler:checked + .hamburger > div:before,
.mbl__nav .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* * Rotate on hover when checked */
.mbl__nav .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* * Show Nav Menu List */
.mbl__nav .toggler:checked ~ .nav {
    visibility: visible;
}

.mbl__nav .toggler:checked ~ .nav > div {
    transform: scale(1);
    transition-duration: 0.75s;
    /* ! Not working */
    z-index: 2;
}

.mbl__nav .toggler:checked ~ .nav > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
    /* ! Not Working */
    z-index: 2;
}

/* * Nav Menu Styles */
.mbl__nav .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mbl__nav .nav > div {
    background-color: rgba(242, 185, 39, .95);
    border-radius: 50%;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.mbl__nav .nav > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu__item {
    font-size: 2rem;
    line-height: 5rem;
    transition: color 0.4s ease;
}


/* * Mobile Contact Info and Call to Action Button */
.contact-hours__area {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 3rem;
}

/* * Subtle Background Pattern */
.subtle-bg {
    background: #FFF url(images/misc_images/lilypads.png);
    overflow: visible;
}

/* * Call to Action button */
.btn {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    margin: 1rem 0;
    padding: 0.8rem 2rem 0.9rem;
    background-color: var(--gold-hex);
    border-radius: 3rem;
    width: 10rem;
    align-self: center;
}

.cta__btn a:hover,
.cta__btn a:focus {
    color: var(--violet-hex);
    border-color: var(--violet-hex);
}


 /* * Menu Category Button Styling */
.menu-category__area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 4rem;
    margin: 3rem 0 2rem;
}

 .btn__alt {
    font-family: Poppins, sans-serif;
    color: var(--gold-hex);
    font-size: 2rem;
    font-weight: 700;
    padding: 0.8rem 2rem 0.9rem;
    border: 3px solid var(--gold-hex);
    border-radius: 3rem;
}

.btn__alt:hover,
.btn__alt:focus {
    color: var(--violet-hex);
    border-color: var(--violet-hex);
}

.chinese-full {
    display: none;
}


/* * Menu Sub-Headers and All Category Images */
.menu__area {
    max-width: 1200px;
}

.sub__hdr {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* border: 2px solid #000; */
}

.category__logo {
    height: 5rem;
    z-index: 1;

    /* border: 2px solid white; */
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(53, 18, 70, 0.8);
    position: absolute;
}


/* * Sub-Header Hero Images for Mobile Viewport */
.appetizer__hero {
    background: var(--gold-hex) url(images/menu_images/appetizers_sm.jpg) center/cover no-repeat;
}

.soups__hero {
    background: var(--gold-hex) url(images/menu_images/soup_sm.jpg) center/cover no-repeat;
}

.chi-lunch__hero {
    background: var(--gold-hex) url(images/menu_images/chi_lunch_sm.jpg) center/cover no-repeat;
}

.thai-lunch__hero {
    background: var(--gold-hex) url(images/menu_images/thai_lunch_sm.jpg) center/cover no-repeat;
}

.dinner__hero {
    background: var(--gold-hex) url(images/menu_images/dinner_sm.jpg) center/cover no-repeat;
}

.rice__hero {
    background: var(--gold-hex) url(images/menu_images/rice_sm.jpg) center/cover no-repeat;
}

.salads__hero {
    background: var(--gold-hex) url(images/menu_images/salads_sm.jpg) center/cover no-repeat;
}

.noodles__hero {
    background: var(--gold-hex) url(images/menu_images/noodles_sm.jpg) center/cover no-repeat;
}

.beverages__hero {
    background: var(--gold-hex) url(images/menu_images/beverages_sm.jpg) center/cover no-repeat;
}

.deserts__hero {
    background: var(--gold-hex) url(images/menu_images/deserts_sm.jpg) center/cover no-repeat;
}

/* * Menu Text Area */
.menu-text {
    display: grid;
    gap: 1rem 0;
    justify-content: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.grid-item {
    display: grid;
    grid-template-columns: minmax(25ch, 45ch) auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "item-text price"
        "sub-text price";
}

.item-text {
    grid-area: item-text;
    font-weight: 700;
}

.sub-text {
    grid-area: sub-text;
}

.price {
    grid-area: price;
    justify-self: end;
    align-self: end;
    font-size: 0.8rem;
}

/* * Asterisk (Star) Styling */
.star {
    position: relative;
}

.star::before {
    content: '*';
    position: absolute;
    left: -0.6rem;
}

/* * Sub-menu Description Styling */
.sub-text {
    color: #707070;
}


/* * Footer Styling */
.ftr__primary {
    display: flex;
    flex-direction: column;
    background: var(--gold-hex);
    align-items: center;
}

.soc-icon__wrapper {
    width: 2rem;
}

.soc-icon__wrapper a:hover,
.soc-icon__wrapper a:focus {
    opacity: 0.7;
}

.ftr__menu-list {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
}

.ftr__menu__item {
    font-size: 1rem;
}

.menu__link {
    font-family: 'Poppins', sans-serif;
}

/* * About Us Page */

/* * About Us Hero */
.about-hero__area {
    background: var(--gold-hex) url(images/hero_images/about_hero_sm.jpg) center/cover no-repeat;
    height: 30vh;
}

.logo-mod {
    background: rgba(255, 255, 255, 0.8);
    padding: 1.2rem 1.5rem 1rem 1rem;
    border-radius: 4rem;
}

.paddings__mod {
    padding: 3rem 0;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.quotes {
    font: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    line-height: 3rem;
}

.quote1 {
    background: var(--violet-hex);
    color: #fff;
} 

.quote2 {
    background: #fff;
    border: 1rem solid var(--gold-hex);
}

.quote3 {
    background: var(--gold-hex);
}

.quote-padding {
    padding: 4rem 2rem;
}

blockquote {
    font-style: italic;
}

figcaption {
    text-align: right;
    margin-top: 2rem;
}

cite {
    display: block;
    text-align: right;
    line-height: 1rem;
}

.solo-cite {
    margin-top: 2rem
}


/* * Contact Us Page */

/* * Contact Us Hero */
.contact-hero__area {
    background: var(--gold-hex) url(images/hero_images/contact_hero_sm.jpg) center/cover no-repeat;
    height: 30vh;
}

/* * Contact Us Form Styling */
.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hdr-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 3rem
}

.contact__sub-hdr {
    text-align: left;
    margin-bottom: 4rem;
    max-width: 45ch;
}

.contact-form {
    min-width: 40vw;
    max-width: 90vw;
    margin: 1rem;
    background: rgba(53, 18, 70, 0.9);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.msg {
    display: flex;
    flex-direction: column;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--gold-hex);
    padding: 1rem;
    color: #fff;
    width: 100%;
}

.msg textarea {
    height: 7rem;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

/* * Contact Us Footer Styling */
.ftr__secondary {
    display: flex;
    flex-direction: column;
    background: var(--gold-hex);
    align-items: center;
}

/* * Tablet Viewport */
@media screen and (min-width: 500px) {
    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem 0;
    }
}


/* * Desktop Viewport */
@media screen and (min-width: 1000px) {
    /* * Contact Us Form Styling */
    .contact-form {
        flex-direction: row;
    }


    .msg textarea {
        height: 16.28rem
    }


}









