/* * Define vars for the root element */
:root {
    --gold-hex: #E9B13E;
    --violet-hex: #351246;
    scroll-behavior: smooth;
}

/* * CSS Reset and Universal Styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
}

a:hover,
a:focus {
    color: var(--violet-hex);
}

img {
    max-width: 100%;
}

.mbl-margins {
    margin: 3rem 1rem;
}

.mbl-paddings {
    padding: 3rem 1rem;
}

.btn-margins {
    margin: 3rem 0;
}


/* * One-off Stylings */
.btm-cta__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/* * Hidden Items in Mobile Viewport */
.tab-desk__nav {
    display: none;
}

.contact__header {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color: #707070;
    display: none;
}


/* * Main Header*/
.hero__area {
    background: url(../images/hero_images/main_hero1_sm.jpg) center/cover no-repeat;
    height: 100vh;
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem 0;
    /* width: 100vw; */
}

.logo-menu-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 94vw;
}

.logo-text__wrapper  {
    width: 12rem;
    transition: opacity 1s ease-in;
    margin-left: 1rem;
}

.logo-text__wrapper a:hover,
.logo-text__wrapper a:focus {
    opacity: 0.6;
}


/* * Navigation and Hamburger Styling */
.mbl__nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.mbl__nav .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    opacity: 0;
}

.mbl__nav .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: rgba(240, 195, 81, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mbl__menu-list {
    font-weight: 700;
}

/* * Middle Hamburger Line */
.mbl__nav .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

/* * Top and Bottom Hamburger Lines */
.mbl__nav .hamburger > div:before,
.mbl__nav .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -0.6rem;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

/* * Bottom Hamburger Line */
.mbl__nav .hamburger > div:after {
    top: .6rem;
}

/* * Toggler Animation */
.mbl__nav .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* * Turn lines in X */
.mbl__nav .toggler:checked + .hamburger > div:before,
.mbl__nav .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* * Rotate on hover when checked */
.mbl__nav .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* * Show Nav Menu List */
.mbl__nav .toggler:checked ~ .nav {
    visibility: visible;
}

.mbl__nav .toggler:checked ~ .nav > div {
    transform: scale(1);
    transition-duration: 0.75s;
    /* ! Not working */
    z-index: 2;
}

.mbl__nav .toggler:checked ~ .nav > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
    /* ! Z-index Not Working */
    z-index: 2;
}

/* * Nav Menu Styles */
.mbl__nav .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mbl__nav .nav > div {
    background-color: rgba(242, 185, 39, 0.95);
    border-radius: 50%;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.mbl__nav .nav > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu__item {
    font-size: 2rem;
    line-height: 5rem;
    transition: color 0.4s ease;
}

/* * Call to Action button */
.btn {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    color: var(--gold-hex);
    margin: 1rem 0;
    padding: 0.8rem 2rem 0.9rem;
    background-color: var(--violet-hex);
    border-radius: 3rem;
    width: 10rem;
    align-self: center;
}

.cta__btn--call {
    align-self: center;
}

.cta__btn a:hover,
.cta__btn a:focus {
    color: #fff;
    border-color: var(--violet-hex);
}


/* * Mobile Contact Info and Call to Action Button */
.contact-hours__area {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
}

.mbl__contact-loc {
    margin-bottom: 2rem;
}

.location-link {
    color: var(--violet-hex);
}

/* * Subtle Background Pattern */
.subtle-bg {
    background: #fff url(../images/misc_images/lilypads.png);
}


/* * Footer Styling */
.ftr__primary {
    display: flex;
    flex-direction: column;
    background: var(--gold-hex);
    align-items: center;
}

.ftr-paddings {
    padding: 1.5rem 1rem;
}

.ftr__nav {
    margin-top: 1rem;
}

.soc-icon__wrapper {
    width: 2rem;
}

.soc-icon__wrapper a:hover,
.soc-icon__wrapper a:focus {
    opacity: 0.7;
}

.ftr__menu-list {
    display: flex;
    flex-direction: row;
    width: 18rem;
    justify-content: space-between;
}

.ftr__menu__item {
    font-size: 1rem;
}

.menu__link {
    font-family: 'Poppins', sans-serif;
}

.copyright {
    margin-top: 1rem;
}


/* **** Menu Page ****/

/* * Menu Hero */
.menu-hero__area {
    background: url(../images/hero_images/menu_hero_sm.jpg) center/cover no-repeat;
    height: 190px;
}

/* * Menu Category Button Styling */
.menu-category__area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 4rem;
    margin: 3rem 0;
}

.btn__alt {
    font-family: Poppins, sans-serif;
    color: var(--gold-hex);
    font-size: 2rem;
    font-weight: 700;
    padding: 0.8rem 2rem 0.9rem;
    border: 3px solid var(--gold-hex);
    border-radius: 3rem;
}

.btn__alt:hover,
.btn__alt:focus {
    color: var(--violet-hex);
    border-color: var(--violet-hex);
}

.chinese-full {
    display: none;
}


/* * Menu Sub-Headers and All Category Images */
.sub__hdr {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.category__logo {
    height: 5rem;
    z-index: 1;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(53, 18, 70, 0.8);
    position: absolute;
}


/* * Sub-Header Hero Images for Mobile Viewport */
.appetizer__hero {
    background: var(--violet-hex) url(../images/menu_images/appetizers_sm.jpg) center/cover no-repeat;
}

.soups__hero {
    background: var(--violet-hex) url(../images/menu_images/soup_sm.jpg) center/cover no-repeat;
}

.chi-lunch__hero {
    background: var(--violet-hex) url(../images/menu_images/chi_lunch_sm.jpg) center/cover no-repeat;
}

.thai-lunch__hero {
    background: var(--violet-hex) url(../images/menu_images/thai_lunch_sm.jpg) center/cover no-repeat;
}

.dinner__hero {
    background: var(--violet-hex) url(../images/menu_images/dinner_sm.jpg) center/cover no-repeat;
}

.rice__hero {
    background: var(--violet-hex) url(../images/menu_images/rice_sm.jpg) center/cover no-repeat;
}

.salads__hero {
    background: var(--violet-hex) url(../images/menu_images/salads_sm.jpg) center/cover no-repeat;
}

.noodles__hero {
    background: var(--violet-hex) url(../images/menu_images/noodles_sm.jpg) center/cover no-repeat;
}

.beverages__hero {
    background: var(--violet-hex) url(../images/menu_images/beverages_sm.jpg) center/cover no-repeat;
}

.deserts__hero {
    background: var(--violet-hex) url(../images/menu_images/deserts_sm.jpg) center/cover no-repeat;
}

/* * Menu Text Area */
.menu__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text {
    display: grid;
    gap: 1rem 0;
    justify-content: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.grid-item {
    display: grid;
    grid-template-columns: minmax(25ch, 45ch) auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "item-text price"
        "sub-text price";
}

.item-text {
    grid-area: item-text;
    font-weight: 700;
}

.sub-text {
    grid-area: sub-text;
}

.price {
    grid-area: price;
    justify-self: end;
    align-self: end;
    font-size: 0.8rem;
}

/* * Asterisk (Star) Styling */
.star {
    position: relative;
}

.star::before {
    content: '*';
    position: absolute;
    left: -0.6rem;
}

/* * Sub-menu Description Styling */
.sub-text {
    color: #707070;
}


/* * About Us Page */

/* * About Us Hero */
.about-hero__area {
    background: url(../images/hero_images/about_hero_sm.jpg) center/cover no-repeat;
    height: 190px;
}

.logo-mod {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4rem;
    padding: 1.2rem 2rem 1rem 1.5rem;
}

.paddings__mod {
    padding: 3rem 0;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.obj-fit {
    height: 100%;
    object-fit: cover;
}

.quotes {
    font: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    line-height: 3rem;
}

.qte-1 {
    background: var(--violet-hex);
    color: #fff;
} 

.qte-2 {
    background: #fff;
    border: 1rem solid var(--gold-hex);
}

.qte-3 {
    background: var(--gold-hex);
}

.qte-padding {
    padding: 4rem 2rem;
}

figure {
    width: 55ch;
}

blockquote {
    font-style: italic;
}

figcaption {
    text-align: right;
    margin-top: 2rem;
}

cite {
    display: block;
    text-align: right;
    line-height: 1rem;
}

.cite-link {
    text-decoration: underline;
}

.cite-link:hover,
.cite-link:focus {
    color: #707070;
}

.solo-cite {
    margin-top: 2rem
}


/* * Contact Us Page */

/* * Contact Us Hero */
.contact-hero__area {
    background: url(../images/hero_images/contact_hero_sm.jpg) center/cover no-repeat;
    height: 190px;
}

/* * Contact Us Form Styling */
.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hdr-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 3rem
}

.hdr-title__sub {
    text-align: center;
    margin-bottom: 5rem;
}

.contact__sub-hdr {
    text-align: left;
    margin-bottom: 4rem;
    max-width: 45ch;
}

.contact-form {
    min-width: 40vw;
    max-width: 90vw;
    margin: 1rem;
    background: rgba(53, 18, 70, 0.9);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.msg {
    display: flex;
    flex-direction: column;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--gold-hex);
    padding: 1rem;
    color: #fff;
    width: 100%;
}

.msg textarea {
    height: 7rem;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

/* * Contact Us Footer Styling */
.ftr__secondary {
    display: flex;
    flex-direction: column;
    background: var(--gold-hex);
    align-items: center;
}

/* * Tablet Viewport */
@media screen and (min-width: 600px) {
    /* * Universal Styles  */
    .mbl-paddings {
        padding: 4rem 2rem;
    }

    /* * Contact Info in Pre-Header */
    .contact__header {
        display: flex;
        justify-content: center;
        padding: 0.8rem 0;
        color: #707070;
    }

    .tab-desk__contact + .tab-desk__contact {
        margin-left: 3rem;
    }

    /* * Mobile Nav and Hamburger Styles */
    .mbl__nav {
        top: 3.23rem;
    }

    .mbl__nav .nav > div {
        width: 100vw;
        height: 100vw;
    }

    /* * Main Header Styles */
    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* * Hiding Location and CTA button */
    .mbl__display {
        display: none;
    }

    /* * Hours Stylings */
    .contact-hours__area {
        font-size: 1rem;
        padding: 0;
    }

    .mbl__contact-loc {
        margin-bottom: 2rem;
    }

    .mbl__contact-hrs {
        margin: 0.8rem 0;
        display: flex;
        line-height: initial;
    }

    .mbl__contact-hrs h3 {
        margin: 0 1rem;
    }

    /* * Menu Page Tablet Viewport */
    .category__logo {
        height: 7rem;
    }

    /* * Footer Tablet Viewport */
    .ftr__menu-list {
        width: 30rem;
    }
}

/* * Tablet Tweekpoint */
@media screen and (min-width: 768px) {
    /* * Home Page Hero Area */
    .hero__area {
        background: url(../images/hero_images/main_hero1_md.jpg) cover no-repeat;
    }

    .logo-menu-group {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-around;
        align-items: start;
    }

    .tab-desk__nav {
        display: flex;
    }
    
    .menu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.93);
        border-radius: 4rem;
        padding: .2rem 2rem;
    }

    .menu__item {
        font-size: 1.5rem;
    }

    .menu__item + .menu__item {
        margin-left: 2rem;
    }

    .menu__list:last-child {
        margin-right: 2rem;
    }

    .mbl__nav {
        display: none;
    }

    /* * Menu Page */
    .menu-hero__area {
        background: url(../images/hero_images/menu_hero_md.jpg) center/cover no-repeat;
        height: 190px;
    }

    /* * About Us Pictures Grid */
    .about-hero__area {
        background: url(../images/hero_images/about_hero_md.jpg) center/cover no-repeat;
        height: 190px;
    }

    .about__wrapper {
        display: grid;
        grid-template-areas: 
            "qte-1 qte-1"
            "ptr-1 lnd-1"
            "ptr-1 lnd-2"
            "qte-2 qte-2"
            "lnd-3 ptr-2"
            "lnd-4 ptr-2"
            "qte-3 qte-3";   
    }

    .qte-1 {
        grid-area: qte-1;
    } 

    .qte-2 {
        grid-area: qte-2;
    } 

    .qte-3 {
        grid-area: qte-3;
    } 

    .ptr-1 {
        grid-area: ptr-1;
    }

    .ptr-2 {
        grid-area: ptr-2;
    }

    /* ! ptr-3 hidden in Mobile & Tablet view */
    .ptr-3 {
        grid-area: ptr-3;
    }
    /* ! ptr-4 hidden in Mobile & Tablet view */
    .ptr-4 {
        grid-area: ptr-4;
    }

    .lnd-1 {
        grid-area: lnd-1;
    }

    .lnd-2 {
        grid-area: lnd-2;
    }

    .lnd-3 {
        grid-area: lnd-3;
    }

    .lnd-4 {
        grid-area: lnd-4;
    }

    .ptr-3,
    .ptr-4 {
        display: none;
    }

    /* * Contact Us Page */
    .contact-hero__area {
        background: url(../images/hero_images/contact_hero_md.jpg) center/cover no-repeat;
        height: 190px;
    }

}


/* * Desktop Viewport */
@media screen and (min-width: 1024px) {
    /* * Contact Us Form Styling */
    .contact-form {
        flex-direction: row;
    }

    .msg textarea {
        height: 16.28rem
    }

}

/* * Desktop Tweekpoint */
@media screen and (min-width: 1366px) {
    
    
    /* * About Us Page */
    .about__wrapper {
        display: grid;
        grid-template-areas: 
            "qte-1 qte-1 qte-1"
            "ptr-1 lnd-1 ptr-3"
            "ptr-1 lnd-2 ptr-3"
            "qte-2 qte-2 qte-2"
            "ptr-4 lnd-3 ptr-2"
            "ptr-4 lnd-4 ptr-2"
            "qte-3 qte-3 qte-3";   
    }

    .ptr-3,
    .ptr-4 {
        display: grid;
    }

}


/* * Large Desktop Viewpoint */
@media screen and (min-width: 1920px) {
    /* * Home Page Hero Area */
    .hero__area {
        background: url(../images/hero_images/main_hero1_lg.jpg) 50% 65%/cover no-repeat;
    }

    /* * Menu Page */
    .menu-hero__area {
        background: url(../images/hero_images/menu_hero_lg.jpg) center/cover no-repeat;
        height: 190px;
    }

    /* * About Us Page */
    .about-hero__area {
        background: url(../images/hero_images/about_hero_lg.jpg) 50% 10%/cover no-repeat;
        height: 190px;
    }

    /* * Contact Us Page  */
    .contact-hero__area {
        background: url(../images/hero_images/contact_hero_lg.jpg) center/cover no-repeat;
        height: 190px;
    }

}











